@model IEnumerable<Entities.Expenses.Category_expense>

@{
    ViewData["Title"] = "Index";
}




    <div class="container">
        <div class="row">
            <div class="col-12 mt-1">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Classe de dépense</h3>
                        <div class="float-right">
                            <a asp-action="Create" class="btn btn-warning btn-sm" title="Ajouter"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-hover table-bordered  text-center">
                                <thead class="bg-dark">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Identifiant")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name_Category)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id_Category)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name_Category)
                                            </td>

                                            <td>
                                                <!--Delete Expense-->
                                                <form method="post" asp-action="Delete" asp-route-id="@item.Id_Category">
                                                    <!--Edit expense-->
                                                    <a asp-action="Edit" asp-route-id="@item.Id_Category" class="btn btn-success btn-sm" title="Modifier"><i class="fa fa-edit"></i></a>
                                                    <!--end edit-->
                                                    <!--Delete confirmation-->
                                                    <span id="confirmDeleteSpan_@item.Id_Category" style="display:none">
                                                        <span>Etes-vous sûr que vous voulez supprimer?</span>
                                                        <button type="submit" class="btn btn-danger btn-sm">Oui</button>
                                                        <a href="#" class="btn btn-primary"
                                                           onclick="confirmDelete('@item.Id_Category', false)">No</a>
                                                    </span>

                                                    <span id="deleteSpan_@item.Id_Category">
                                                        <a href="#" class="btn btn-danger btn-sm"
                                                           onclick="confirmDelete('@item.Id_Category', true)"><i class="fa fa-trash"></i></a>
                                                    </span>
                                                </form>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
@section Scripts{ 
    <script src="~/js/confi.js"></script>
}