@model IEnumerable<Entities.StatisticRepo.Reports>

<div class="container">
    <div class="row h-100 justify-content-center">
        <div class="col-sm-4">
            <label>Choisez la date:</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control float-right" id="reservation">
            </div>
        </div>
    </div>
</div>
<br />


<div id="demo">

    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 id="headPrice">@ViewBag.Price</h3>

                    <p>Total des dépenses</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@ViewBag.count</h3>

                    <p>Nombre des dépenses</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@ViewBag.CountCustomer</h3>

                    <p>Total des clients</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@ViewBag.PaymentCustomer</h3>

                    <p>Revenu Total</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="container">
            <div class="row">
                <div class="col-12  mt-3">
                    <div class="card ">
                        <div class="card-header bg-dark">
                            <h2 class="card-title display-2">Rapport</h2>
                            <form asp-action="PrintReport">
                                <input id="d1" name="d1" value="" hidden />
                                <input id="d2" name="d2" value="" hidden />
                                <button type="submit" class="btn bg-success btn-sm float-right" id="printRapport"><i class="fa fa-print" aria-hidden="true"></i></button>
                            </form>


                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example2" class="table table-hover table-bordered  text-center">
                                    <thead class="bg-dark">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Debit)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Creditor)
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            double debit = 0;
                                            double creditor = 0;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Date)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Debit)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Creditor)
                                                </td>
                                                @{
                                                    debit += item.Debit;
                                                    creditor += item.Creditor;
                                                }
                                            </tr>
                                        }
                                        @{
                                            var result = debit - creditor;
                                            string bgClass;
                                        }
                                        @if (result < 0)
                                        {
                                            bgClass = "danger";
                                        }
                                        else {
                                          bgClass = "success";
                                        }
                                        <tr class="bg-@bgClass">
                                            <td colspan="2" >
                                               <strong>Total</strong>
                                            </td>

                                            <td colspan="2">
                                                <strong>@result</strong>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        $(function () {
            

            $("#reservation").change(function () {

                var d1 = $("#reservation").data('daterangepicker').startDate.format('YYYY-MM-DD');
                var d2 = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');
                $("#d1").val(d1)
                $("#d2").val(d2)
                if (d1 != "" && d2 != "") {
               

                    /*get tbody of table for make changes*/
                var setData = $("tbody")
                   
                   /*clear html content from tbody*/
                setData.html("")
                $.ajax({
                    type: "post",
                    url: "/Statistics/GetByDate?d1=" + d1 + "&d2=" + d2,
                    contentType: 'application/json',
                    data: JSON.stringify(),
                    success: function (result) {
                       
                        if (result == 0) {
                            setData.append('<tr class="bg-danger"><td colspan="4"> No data valaible !!</td></tr>')
                        }
                        else {
                             
                            var result /* result beween operation debit and creditor */
                            var deb = 0 /* debit*/
                            var crd = 0 /* criditor*/
                                                    
                         
                            $.each(result, function (key, value) {
                                var dataa = "<tr>" +
                                    "<td>" + value.date + " </td>" +
                                    "<td>" + value.description + "</td>" +
                                    "<td>" + value.debit + " </td>" +
                                    "<td>" + value.creditor + "</td>" +
                                    "</tr>";

                                deb += value.debit
                                crd += value.creditor
                        
                                setData.append(dataa)

                            })
                            var rs = deb - crd
                            var colorClass
                            if (rs < 0) {
                                colorClass = "bg-danger"
                            }
                            else {
                                colorClass = "bg-success"
                            }
                            dataa = '<tr class="'+ colorClass+'" >  <td colspan ="2"><strong> Total</strong> </td> <td colspan="2"><strong>' + rs + '</strong></td>';
                            setData.append(dataa)

                        }

                    }
                });

                }


            })
           

        })


    </script>


}
