@model IEnumerable<Entities.Person>
<!--EndPopUp-->
<!--Index-->
<!--Index-->
<!--Add new customer-->
<div class="container pb-0">
    <div class="row justify-content-md-end">
        <div class="float-right mt-2 mb-2">
            <!--btn new-->
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-user-plus"></i></a>
        </div>

    </div>
</div>

<!--Card customers-->
<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                    <div class="card bg-light">
                        <div class="card-header text-muted border-bottom-0">
                            Digital Strategist
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <!--content-->
                                <div class="col-7">
                                    <h2 class="lead"><b>@item.First_Name @item.Last_Name</b></h2>
                                    <!-- Info customer-->
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> @item.Adresse</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tele #: @item.Phone</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-birthday-cake"></i></span> @Html.DisplayNameFor(Model => Model.DateOfBirth) #: @item.DateOfBirth</li>
                                    </ul>
                                </div>
                                <!-- Image-->
                                <div class="col-5 text-center">
                                    @{
                                        string path = "";
                                        if (item != null)
                                            path = item.image ?? "Default.jpg";
                                    }
                                    <img src="~/images/People/@path " alt="" class="img-circle img-fluid profile-user-img">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- Operation btn-->
                            <div class="text-right">
                                <a asp-action="Edit" asp-route-id="@item.Person_Id" class="btn btn-sm btn-primary">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Person_Id" class="btn btn-sm bg-teal">
                                    <i class="fas fa-eye"></i>
                                </a>

                                <a asp-action="Delete" asp-route-id="@item.Person_Id" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-secondary">
                                    <i class="fas fa-user-secret"></i>Manager
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>