

@{
    ViewData["Title"] = "Default";

}

@model Entities.Paginate.PagedResultBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<div class="row">
    <div class="col-md-8 col-sm-8 items-info">
        Items @Model.FirstRowOnPage to @Model.LastRowOnPage of @Model.RowCount total
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-8">
        @if (Model.PageCount > 1)
        {
            <nav class="Page navigation example">
                <ul class="pagination pull-right ">
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", "1")">Previous</a></li>
                    @for (var i = startIndex; i <= finishIndex; i++)
                    {
                        @if (i == Model.CurrentPage)
                        {
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                            </li>

                        }
                        else
                        {

                            <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">Next</a></li>
                </ul>
            </nav>
        }
    </div>
</div>
<!--https://www.codingame.com/playgrounds/5368/building-pager-component-for-asp-net-core-->